<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset="utf-8" />
        <title>Crear Activididad</title>
        <link href="css/ingresar.css" rel="stylesheet"> 
        <link rel="stylesheet" href="css/styleActivitie.css"> 
    </head>
    <body>
        <div class="form-box">
            <h2>Crear Actividad</h2>
            <form action="/activitie" method="POST" id = "Ingresar">

                <label for="Estado">Estado:</label>
                <input type="text" placeholder="Cual es el estado de la actividad">
                
                <label for="Objetivo">Objetivo:</label>
                <input type="text" placeholder="Escriba el objetivo">

                <label for="IndicadorImpacto">Indicador de Impacto:</label>
                <input type="text" placeholder="Cual es el indicador de impacto">

                <label for="tipo">Tipo:</label>
                <input type="text" placeholder="Escriba el tipo">

                <label for="requiereReunion">Requiere reunion:</label>
                <input type="text" placeholder="Requiere reunion">

                <label for="fecha">Fecha:</label>
                <input type="text" placeholder="Ingrese la fecha de reunion">
                
                <label for="Lugar">Lugar:</label>
                <input type="text" placeholder="Ingrese el lugar donde se realizara">

                organizacion_organiza
                organizacion_auspicia
                organizacion_patrocina
                numero_aprox_particip
                apoyo_pendon_famed
                apoyo_pendon_kine
                apoyo_pendon_medi
                apoyo_pendon_nutri
                apoyo_const_impresa
                apoyo_const_digital
                requiere_apoyo_comunS_N
                insumo_bandeja
                insumo_tapetes
                insumo_sillas
                insumo_paneles
                insumo_toldos
                insumo_otro
                cierre_num_definitivo_part
                cierre_porcent_cumplim_impacto
                cierre_evidencias
                cierre_link_noticia
            </form>
        </div>
    </body>
</html>