<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset="utf-8" />
        <title>Manejo de Usuarios</title>
        <link rel="stylesheet" href="css/fontello.css">
        <link rel="stylesheet" href="css/Styles.css"> 
    </head>
    <body>
        <header>
            <div class="contenedor">
                <img class="logo" src="images/logo.png" alt="">
                <h1 class="title">Vinculación con el medio</h1>

                <input type = "checkbox" id = "btn-menu">
                <label class = "icon-menu" for="btn-menu"></label>
                
                <nav class="menu">
                    <ul>
                        <li><a href="">Todas las actividades</a></li>
                        <li><a href="">Permisos</a></li>
                        <li><a href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="bodyT">
            <div class="contenedorT">
                <table>
                    <thead>
                        <th> Rut</th>
                        <th> Nombre</th>
                        <th> correo</th>
                    </thead>
                    <tbody id = "res">
                        <tr>
                            <td>198640913</td>
                            <td>Nicolas Sepulveda</td>
                            <td>awadeuwu@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>198640913</td>
                            <td>Nicolas Sepulveda</td>
                            <td>awadeuwu@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>198640913</td>
                            <td>Nicolas Sepulveda</td>
                            <td>awadeuwu@hotmail.com</td>
                        </tr>
                    </tbody>   
                </table>
                <h3>Usuarios admitidos</h3>
                <input type="submit" value="Agregar">
                <input type="submit" value="Eliminar">
            </div>
            <div class="contenedorT">
                <table>
                    <thead>
                        <th> Rut</th>
                        <th> Nombre</th>
                        <th> correo</th>
                    </thead>
                    <tbody id = "res">
                        <tr>
                            <td>198640913</td>
                            <td>Nicolas Sepulveda</td>
                            <td>awadeuwu@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>198640913</td>
                            <td>Nicolas Sepulveda</td>
                            <td>awadeuwu@hotmail.com</td>
                        </tr>
                        <tr>
                            <td>198640913</td>
                            <td>Nicolas Sepulveda</td>
                            <td>awadeuwu@hotmail.com</td>
                        </tr>
                    </tbody>   
                </table>
                <h3>Solicitudes de ingreso</h3>
                <input type="submit" value="Agregar">
                <input type="submit" value="Eliminar">
            </div>
        </div>
    </body>
</html>