
.ir-arriba{
    position: fixed;
    bottom: 6rem;
    right: 1rem;
    width: 4.6rem;
    height: 4.6rem;
    z-index: -1;
}
.ir-arriba-button{
    width: 0rem;
    height: 0rem;
    border-radius: 50%;
    background: #024959;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.ir-arriba-button i{
    position: absolute;
    font-size: 1.2rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    color: white;
    transition: .2s;
}
.mostrar{
    z-index: 10;
}
.mostrar .ir-arriba-button{
    animation: aparecer .3s ease-in-out;
    width: 4.6rem;
    height: 4.6rem;
    z-index: 11;
}
.mostrar i{
    transform: translate(-50%,-50%) scale(1);
}

@keyframes aparecer{
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 6rem;
        height: 6rem;
    }
    100%{
        width: 4.6rem;
        height: 4.6rem;
    }
}
@media (max-width:1250px){
    .ir-arriba{
        bottom: 5rem;
        right: 0rem;
        width: 3.6rem;
        height: 3.6rem;
    }
    .show .ir-arriba-button{
        width: 3.6rem;
        height: 3.6rem;
    }
    @keyframes aparecer{
        0%{
            width: 0rem;
            height: 0rem;
        }
        50%{
            width: 5rem;
            height: 5rem;
        }
        100%{
            width: 3.6rem;
            height: 3.6rem;
        }
    }
}
@media (max-width:1000px){
    .ir-arriba{
        width: 2.6rem;
        height: 2.6rem;
        bottom: 3rem;
    }
    .show .ir-arriba-button{
        width: 2.6rem;
        height: 2.6rem;
    }
    @keyframes aparecer{
        0%{
            width: 0rem;
            height: 0rem;
        }
        50%{
            width: 4rem;
            height: 4rem;
        }
        100%{
            width: 2.6rem;
            height: 2.6rem;
        }
    }
}