.container .btn-izq{
    margin: 15px;
    width: 90%;
    float: left;
}
.container .btn-der{
    margin: 15px;
    width: 90%;
    float: right;
}

input[type="submit"]{
    display: inline-flex;
    justify-content: center;
    margin-bottom: 20px;
    border: none;
    outline: none;
    width: auto;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    opacity: 0.9;
    background: rgb(0, 128, 128,0.8);
}

button{
    margin: 10px;
}

@media(max-width:700px){
    .container .btn-der{
        float: left;
    }
}