.info-resumen{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.info-resumen .containerBig{
    width: 100%;
    margin: 10px auto;
    min-height: auto;
    min-width: auto;
    padding:30px;
    border-radius: 5px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    box-shadow: 0px 0px 5px 5px rgb(128, 128, 128, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.2);
}
.info-resumen .containerSmall{
    width: 100%;
    margin: 10px auto;
    min-height: auto;
    min-width: auto;
    padding:40px;
    border-radius: 5px;
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    box-shadow: 0px 0px 5px 5px rgb(128, 128, 128, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.info-resumen .container:hover{
    margin: 20px auto;
    opacity: 1;
    transform: scale(1.05);
}
.info-resumen .titulo h4{
    font-size: 20px;
}
.info-resumen .titulo h5{
    font-size: 15px;
    color: rgba(246, 246, 246,0.8);
}
.info-resumen .fondoUnidad{
    background: rgb(0, 0, 0,0.3);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 10px;
}
.info-resumen .fondoUnidad h5{
    font-size: 18px;
    margin: 0px;
}
.info-resumen .blue{
    background: radial-gradient(rgb(2, 73, 89,0.9),rgb(2, 73, 89));
    color: rgba(246, 246, 246);
}
.info-resumen .brown{
    background: radial-gradient(rgb(169, 63, 43,0.9),rgb(169, 63, 43,1));
    color: rgba(246, 246, 246);
}
.info-resumen .bluelight{
    background: radial-gradient(rgb(0, 128, 128, 0.9),rgb(0, 128, 128, 1));
    color: rgba(246, 246, 246);
}
.info-resumen .browndark{
    background: radial-gradient(rgb(188, 106, 38,0.9),rgb(188, 106, 38,1));
    color: rgba(246, 246, 246);
}
.info-resumen .green{
    background: radial-gradient(rgba(16, 170, 2, 0.9),rgb(16, 170, 2));
    color: rgba(246, 246, 246);
}
.info-resumen .purple{
    background: radial-gradient(rgb(110, 6, 93,0.9),rgb(110, 6, 93));
    color: rgba(246, 246, 246);
}