.graficos .titulo{
    margin-left: 50px;
    width: 40%;
    background-color: rgb(169, 63, 43,0.8);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}
.graficos .titulo h6{
    margin-bottom: 0px;
    top: 10px;
}
.graficos .torta{
    padding: 10px;
    background: rgb(169, 63, 43,0.8);
    border-radius: 10px;
}