.graficos .titulo{
    margin-left: 50px;
    width: 40%;
    background-color: rgba(35, 65, 91);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}
.graficos .titulo h6{
    margin-bottom: 0px;
    top: 10px;
}
.graficos .torta{
    padding: 10px;
    background: rgba(35, 65, 91);
    border-radius: 10px;
}
.graficos:hover ~ .graficos .titulo{
    border: 2px solid rgba(35, 65, 91);
    background: rgba(246, 246, 246);
    color: rgba(35, 65, 91);
}