@import url(buttons.css?v1.4);
@import url(titles.css?1.0);
@import url(menu.css?v1.9);

body{
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro";
    background: rgba(24, 30, 82, 0.5);

}
.apoyo_seleccion {
    
    list-style: none;
}
.apoyo_seleccion li label{
    margin-left: 10px;
}
.container-Form{
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}
.form-group{
    margin-top: 10px;
}
.need-reunion{
    display: none;
}
#meeting-yes:checked ~ .need-reunion{
    margin-top: 5px;
    display: block;
}

#support-yes:checked ~ .need-reunion{
    margin-top: 5px;
    display: block;
    height: auto;
}