@import url(buttons.css);
body{
    margin: 0;
    padding: 0;
    background: rgba(24, 30, 82, 0.5);

}
.container-Form{
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}

.container-Title{
    padding: 10px;
    background: rgba(24, 30, 82, 0.8);
    color: white;
    border-radius: 10px;
    
}
.form-group{
    margin-top: 10px;
}
.need-reunion{
    display: none;
}
#meeting-yes:checked ~ .need-reunion{
    margin-top: 10px;
    display: block;
}

.container .btn-izq{
    justify-content: center;
    width: 90%;
}
.container .btn-der{
    justify-content: center;
    width: 90%;
}