@import url(buttons.css?v1.4);
@import url(titles.css?1.0);
@import url(menu.css?v1.10);

body{
    margin: 0;
    padding: 0;
    font-family: 'Myriad Pro', 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-seri';
    background: rgba(24, 30, 82, 0.5);

}
header{
    width: 100%;
    background: linear-gradient(rgba(35, 65, 91, 1),rgba(35, 65, 91, 0.95));
    color: white;
    border-bottom: 5px solid rgb(247, 216, 162);
    height: 63px;

    top: 0;
    left: 0;
    z-index: 100;
}
.apoyo_seleccion {
    
    list-style: none;
}
.apoyo_seleccion li label{
    margin-left: 10px;
}
.container-Form{
    margin: 15px auto;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
}
.form-group{
    margin-top: 10px;
}
.need-reunion{
    display: none;
}
#meeting-yes:checked ~ .need-reunion{
    margin-top: 5px;
    display: block;
}

#support-yes:checked ~ .need-reunion{
    margin-top: 5px;
    display: block;
    height: auto;
}