
table{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}
th,td{
    padding: 20px;
}
.tableA thead{
    background-color: rgb(0, 128, 128, 0.7);
    border-bottom: solid 3px rgb(0, 128, 128,0.8);
    color: white;
}
.tableP thead{
    background-color: rgb(255, 165, 0,0.8);
    border-bottom: solid 3px  rgb(255, 165, 0,0.9);
    color: white;
}

input[type="submit"]{
    margin-left: 20%;
    margin-bottom: 20px;
    border: none;
    outline: none;
    width: 20%;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    color: #fff;
    opacity: 0.9;
    background: rgb(0, 128, 128,0.8);
}

#add:hover{
    background: linear-gradient(rgb(1, 124, 1),rgb(2, 173, 11));
}
#pop:hover{
    background: linear-gradient(rgb(255, 0, 0,1),rgb(255, 0, 0,0.8));
}