.Title-Index{
    padding: 20px 10px;
    margin: 30px 0px;
    margin-left: 20px;
    background: rgba(35, 65, 91);
    color: rgba(246, 246, 246);
    border-radius: 2px;
    box-shadow: 0px 0px 5px 1px rgb(128, 128, 128, 0.5);
    border: 2px solid rgb(247, 216, 162);

}
    .Title-Index .container{
        text-align: center;
        height: 160px;
        font-size: 47px;
        background: rgba(35, 65, 91);
        font-family: 'IBM Plex Sans', sans-serif;
        border-bottom: 5px solid rgb(246, 101, 23,0.8);
        position: relative;
        padding: 0;
        margin: auto;
        margin-top: 120px;
        overflow: hidden;
    }
    .Title-Index ul{
        list-style: none;
        margin: 0;
        padding: 0;
        animation: cambiar 15s ease-in infinite;
    }
@keyframes cambiar{
    0%{ margin-top: 0;}
    30%{ margin-top: 0;}

    35%{margin-top: -160px;}
    75%{margin-top: -160px;}

    80%{margin-top: 0;}
    100%{margin-top: 0;}
}
.Title-SubtitleBlue,.Title-SubtitleBlueCalendar{
    width: 100%;
    margin:0px auto;
    border-bottom: 6px solid rgba(35, 65, 91);
}
.Title-SubtitleRed{
    width: 100%;
    margin:0px auto;
    border-bottom: 6px solid rgb(169, 63, 43);
}
    .Title-SubtitleBlueCalendar .container,
    .Title-SubtitleBlue .container,
    .Title-SubtitleRed .container{
        padding: 5px;
        text-align: center;
        color: rgba(246, 246, 246);
        border-radius: 10px 10px 0px 0px;
    }
    .Title-SubtitleBlueCalendar .container{
        width: 50%;
        margin: 10px 10px 0px auto;
    }
    .Title-SubtitleBlue .container{
        width: 25%;
        margin: 20px auto 0px 30px;
    }
    .Title-SubtitleRed .container{
        width: 40%;
        margin: 20px 30px 0px auto;
    }
    .Title-SubtitleRed .red{
        background: rgb(169, 63, 43);
    }
    .Title-SubtitleBlue .blue,.Title-SubtitleBlueCalendar .blue{
        background: rgba(35, 65, 91,1);
    }
    .Title-SubtitleBlue h5,.Title-SubtitleRed h5{
        margin-bottom: 0;
    }
    .Title-SubtitleBlueCalendar h5{
        font-size: 15px;
        margin-bottom: 0;
    }

.container-Title .container{
    padding: 10px;
    background: rgba(35, 65, 91, 0.85);
    color: lightgrey;
    border-radius: 10px;
}
.container-Title .container h2{
    padding: 10px;
}
.container-Title small{
    padding: 10px;
    color: rgba(211, 211, 211, 0.7);
}
.subtitle h3{
    padding: 5px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 0;
}
.subtitle{
    margin: 15px auto;
    width: 50%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    border-top: 1px solid rgb(0, 0, 0, 0.5);
}
.periodo{
    border-bottom: 2px solid rgb(0, 128, 128);
}
@media (max-width:1199px){
    .Title-Index .container{
        height: 145px;
        font-size: 44px;
        margin: auto;
        margin-top: 80px;
    }
    @keyframes cambiar{
        0%{ margin-top: 0;}
        30%{ margin-top: 0;}
    
        35%{margin-top: -145px;}
        75%{margin-top: -145px;}
    
        80%{margin-top: 0;}
        100%{margin-top: 0;}
    }
}
@media (max-width:999px){
    .Title-Index .container{
        margin-top: 120px;
        height: 142px;
        font-size: 42px;
    }
    @keyframes cambiar{
        0%{ margin-top: 0;}
        30%{ margin-top: 0;}
    
        35%{margin-top: -142px;}
        75%{margin-top: -142px;}
    
        80%{margin-top: 0;}
        100%{margin-top: 0;}
    }
}
@media (max-width:989px){
    .Title-Index .container{
        margin-top: 60px;
        height: 160px;
        font-size: 35px;
    }
    @keyframes cambiar{
        0%{ margin-top: 0;}
        30%{ margin-top: 0;}
    
        35%{margin-top: -160px;}
        75%{margin-top: -160px;}
    
        80%{margin-top: 0;}
        100%{margin-top: 0;}
    }
}
@media (max-width:785px){
    .Title-Index{
        margin: 10px 10px;
    }.Title-Index .container{
        margin-top: 10px;
        height: 220px;
        font-size: 48px;
    }
    @keyframes cambiar{
        0%{ margin-top: 0;}
        30%{ margin-top: 0;}
    
        35%{margin-top: -220px;}
        75%{margin-top: -220px;}
    
        80%{margin-top: 0;}
        100%{margin-top: 0;}
    }
}