.container-Title .container{
    padding: 10px;
    background: rgba(24, 30, 82, 0.85);
    color: lightgrey;
    border-radius: 10px;
}
.container-Title .container h2{
    padding: 10px;
}
.container-Title small{
    padding: 10px;
    color: rgba(211, 211, 211, 0.7);
}
.subtitle h3{
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.subtitle{
    margin: auto;
    margin-top: 15px;
    width: 50%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    border-top: 1px solid rgb(0, 0, 0, 0.5);
}