.Title-Index .container{
    padding: 120px 45px;
    text-align: center;
    margin: 50px 0px;
    margin-left: 40px;
    background: rgba(35, 65, 91);
    color: rgba(246, 246, 246);
    border-radius: 2px;
    box-shadow: 0px 0px 5px 1px rgb(128, 128, 128, 0.5);
}
.Title-SubtitleBlue{
    width: 100%;
    margin:0px auto;
    border-bottom: 6px solid rgba(35, 65, 91);
}
.Title-SubtitleRed{
    width: 100%;
    margin:0px auto;
    border-bottom: 6px solid rgb(169, 63, 43);
}
.Title-SubtitleBlue .container{
    width: 25%;
    margin: 40px auto 0px 30px;
    padding: 5px;
    text-align: center;
    color: rgba(246, 246, 246);
    border-radius: 10px 10px 0px 0px;
}
.Title-SubtitleRed .container{
    width: 40%;
    margin: 40px 30px 0px auto;
    padding: 5px;
    text-align: center;
    color: rgba(246, 246, 246);
    border-radius: 10px 10px 0px 0px;
}
.Title-SubtitleRed .red{
    background: rgb(169, 93, 43);
}
.Title-SubtitleBlue .blue{
    background: rgba(35, 65, 91,1);
}
.container-Title .container{
    padding: 10px;
    background: rgba(35, 65, 91, 0.85);
    color: lightgrey;
    border-radius: 10px;
}
.container-Title .container h2{
    padding: 10px;
}
.container-Title small{
    padding: 10px;
    color: rgba(211, 211, 211, 0.7);
}
.subtitle h3{
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.subtitle{
    margin: auto;
    margin-top: 15px;
    width: 50%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    border-top: 1px solid rgb(0, 0, 0, 0.5);
}

@media (max-width:1000px){
    .Title-Index .container{
        padding: 40px 45px;
        margin: 20px 5px;
    }
}