form{
    margin: 100px 40px;
    width: 50%;
    max-width: 300px;
    background: #F3F3F3;
    padding: 30px;
    border: 1px solid rgba(0,0,0,0.2);
}
h2{
    text-align: center;
    margin-bottom: 20px;
    color: rgba(0,0,0,0.2);
}
input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}
input[type="submit"]{
    background: linear-gradient(#FFDA63,#FFB940);
    border: 0;
    color: brown;
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 0;
}
input[type="submit"]:hover{
    opacity: 1;
}
.contenedor{
    margin: 100px 100px;
    width: 50%;
}
table{
    background-color: white;
    text-align: center;
    border-collapse: collapse;
    width: 50%;
}
th,td{
    padding: 20px;
}
thead{
    background-color: #ff6f00;
    border-bottom: solid 5px #e65100;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #ffb300;
    color: white;
}