<!DOCTYPE html>
<html lang="en">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>CRUD</title> 
        <link href="css/login.css" rel="stylesheet" type="text/css">

    

<div class="container">
    <div class="abs-center">
    <div  class="signin-card">
      <div class="logo-image">
      <img src="images/logo.png" alt="Logo" title="Logo" width="138">
      </div>
      <h1 class="display1">Login</h1>

      <form action="" method="" class="border p-3 form" role="form">
        <div id="form-login-username" class="form-group">
          <input  class="form-control" id="rut" type="text" size="18" alt="login" required />
          <span class="form-highlight"></span>
          <span class="form-bar"></span>
          <label for="username" class="float-label">Rut</label>
        </div>
        <div id="form-login-password" class="form-group">
          <input  class="form-control" id="password" type="password" size="18" alt="password" required>
          <span class="form-highlight"></span>
          <span class="form-bar"></span>
          <label for="password" class="float-label">Contraseña</label>
        </div>
        
        <div>
          <button class="btn btn-block btn-info ripple-effect" type="submit" id="login" alt="sign in" onclick="login">Iniciar Sesión</button>  
        </div>
    
    </div>
      </form>
    </div>
</div>



<script src="js/utils_js/jquery.min.js"></script>
<script src="js/utils_js/bootstrap.bundle.min.js"></script>
<script src="css/jquery-ui.js"></script>
<script src="js/utils_js/jquery.easing.min.js"></script>
<script src="js/utils_js/jquery.dataTables.js"></script>
<script src="js/utils_js/dataTables.bootstrap4.js"></script>
<script src="js/utils_js/sb-admin.min.js"></script>
<script src="js/utils_js/jquery.rut.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="js/views_js/login.js"></script>